---  
layout: main 
title: Home
exclude_from_nav: true
---

{% capture assignments %} <a href = "{{ site.baseurl }}/assignments/">assignments</a>{% endcapture %}

{% comment %}
{% endcomment %}

<p><b>9/10/2019</b>: {% include hwRef.html hwLabel = "Twitter Signup HW" %} and {% include hwRef.html hwLabel = "Chapter 3 HW" %} posted (Due Monday, 9/16/19)
<p><b>9/09/2019</b>: {% include hwRef.html hwLabel = "Chapter 2 HW" %} posted (Due Wednesday, 9/11/19)
<p><b>8/30/2019</b>: {% include hwRef.html hwLabel = "Chapter 1 HW" %} posted (Due Friday, 9/6/19)

<p><b>8/28/2019</b>: Welcome to <b style = "color: red"> CSC-202: Introduction to Machine Intelligence</b> for the Fall 2019 Semester! This page will be used to provide course material for CSC-202.  Please see the links above for more information. </p>

